{% load static %}         
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>나의 소개</title>
<style>
   body { background-color : linen; color : green;
            margin-left : 40px; margin-right : 40px;}
   h3 { text-align : center; color : darkred;}
   hr { height : 5px; border : solid grey;
            background-color : grey }
   span { color: blue; font-size: 20px; }
</style>
<script>
   function show() { // <img>에 이미지 달기
      document.getElementById("fig").src =  "{% static 'home/image/ol.jpg' %}"
   }
   function hide() { // <img>에 이미지 제거
      document.getElementById("fig").src= "";
   }
</script>
</head>
<body>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyB3P2JjU_ZSdcW8JyEO4ZRFwv86_hJj7XA",
          authDomain: "firstproject-bedd7.firebaseapp.com",
          projectId: "firstproject-bedd7",
          storageBucket: "firstproject-bedd7.appspot.com",
          messagingSenderId: "404619490428",
          appId: "1:404619490428:web:1e35cdfa9bc93c9b9d85f9",
          measurementId: "G-CD3WXLWFLX"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
      </script>
<h2 onmouseover="show()" onmouseout="hide()">김예진</h2>
<hr>
<meta name="소프트웨어학과 학생" content="김예진">
<div><img id="fig" src=""></div>
저는 단국대학교 소프트웨어학과 3학년 20학번 김예진 입니다.<br>
제가 이번학기에 수강하고 있는 과목들은 <span>오픈소스SW활용</span>과 <span>알고리즘</span>과 <span>운영체제</span>이고,<br>
이번 학기를 잘 마무리하고 싶습니다.<br>
제가 좋아하는 것들은 하늘과 캐릭터 <span>올라프</span> 입니다. <br>
<span>맨 위에 있는 제 이름 김예진 위에 마우스를 올리면 올라프 이미지가 나타납니다.</span><br>
저는 아래와 같이 맑은 하늘을 좋아합니다.<br>
<img src = "{% static 'home/image/sky.jpg' %}" >
<br>
저는 딸기 스무디와 <img src="{% static 'home/image/딸기스무디.jpg' %}" alt="sky"><br>
강아지도 좋아합니다. <img src="{% static 'home/image/dog.jpg' %}" alt="sky"><br>
<br>제가 좋아하는 강아지 동영상도 첨부합니다. <br>
<iframe width="560" height="315" 
src="https://www.youtube.com/embed/on09zv-ujyc" 
title="YouTube video player" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>